@model ProfileViewModel
@using Microsoft.AspNetCore.Identity
@inject IViewLocalizer Localizer
@inject UserManager<User> UserManager



@{ var selected = UserManager.FindByIdAsync(Model.user.Id);
    var roles = UserManager.GetRolesAsync(selected.Result);}

<div id="profile-body">
    <div class="lot-short-desc">
        <table cellspacing="5">
            <tr>
                <td>
                    @if (Model.user.Img == null)
                    {
                        <img id="profileImage" src="https://www.placecage.com/300/300" class="rounded">
                    }
                    else
                    {
                        <img id="profileImage" src="@Model.user.Img" class="rounded" alt="UserProfile picture" style="width:300px; height:300px">
                    }

                </td>
            </tr>
            <tr>
                @if (roles.Result.Contains("moderator"))
                {
                    <td class="desc-table-title">@Localizer["UserName"] (@Localizer["Moderator"]):</td>
                }
                else
                {
                    <td class="desc-table-title">@Localizer["UserName"]:</td>
                }
                <td class="desc-table-content">@Model.user.UserName</td>

            </tr>
            <tr>
                <td class="desc-table-title">@Localizer["Email"]:</td>
                <td class="desc-table-content">@Model.user.Email</td>
            </tr>
            <tr>
                <td class="desc-table-title">@Localizer["Registered"]:</td>
                <td class="desc-table-content">@Model.user.Registration</td>

            </tr>


            @if (Model.isMe)
            {
                <tr>
                    <td class="desc-table-title"><a class="action-link-default" style="margin-top:15px;" asp-controller="Account" asp-action="ChangePassword">@Localizer["ChangePassword"]</a></td>
                </tr>
            }
            else
            {
                if (User.IsInRole("admin"))
                {
                    if (roles.Result.Contains("moderator"))
                    {
                        <tr>
                            <td class="desc-table-title">
                                <a class="button-delete" style="margin-top:15px;" asp-controller="Roles" asp-action="RemoveModerator" asp-route-id="@Model.user.Id">@Localizer["RemoveRole"]</a>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="desc-table-title">
                                <a class="action-link-default" style="margin-top:15px;" asp-controller="Roles" asp-action="SetModerator" asp-route-id="@Model.user.Id">@Localizer["AddRole"]</a>
                            </td>
                        </tr>
                    }



                }
            }
            @if (!Model.isMe && User.IsInRole("admin"))
            {
                <tr>
                    <td class="desc-table-title">
                        <a class="button-delete" style="margin-top:15px;" asp-controller="Account" asp-action="DeleteUser" asp-route-id="@Model.user.Id">@Localizer["Delete"]</a>
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="profile-tabs-panel">

        <div class="profile-table-space">
            <table cellspacing="0" cellpadding="4" id="collsTable">

                @if (Model.user.Collections.Count > 0)
                {
                    foreach (var coll in Model.user.Collections.OrderBy(l => l.Name))
                    {
                        <tr class="table-row">
                            <td><obj-link class="object-link" obj=@coll></obj-link></td>
                            <td>@coll.Name</td>
                            <td>@coll.Theme</td>
                        </tr>
                    }
                }

            </table>
        </div>


    </div>
</div>