@model ProfileViewModel
@using Microsoft.AspNetCore.Identity
@inject IViewLocalizer Localizer
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ var selected = UserManager.FindByIdAsync(Model.user.Id);
    var roles = UserManager.GetRolesAsync(selected.Result);}


<div class="container">
    <div class="row m-md-4">
        <div class="col-md-6">
            @if (Model.user.Img == null)
            {
                <img id="profileImage" src="https://www.placecage.com/300/300" class="rounded">
            }
            else
            {
                <img id="profileImage" src="@Model.user.Img" class="rounded" alt="UserProfile picture" style="width:300px; height:300px">
            }
        </div>
        <div class="col-md-6">
            @if (roles.Result.Contains("moderator"))
            {
                <a class="desc-table-title">@Localizer["UserName"] (@Localizer["Moderator"]):</a>
            }
            else
            {
                <a class="desc-table-title">@Localizer["UserName"]:</a>
            }
            <a class="desc-table-content">@Model.user.UserName</a>
            <div>
                <a class="desc-table-title">@Localizer["Email"]:</a>
                <a class="desc-table-content">@Model.user.Email</a>
            </div>
            <div>
                <a class="desc-table-title">@Localizer["Registered"]:</a>
                <a class="desc-table-content">@Model.user.Registration</a>
            </div>
        </div>
    </div>
    <div class="row m-md-5">
        <div class="col-md-4">
            @if (User.IsInRole("admin") || Model.isMe)
            {
                <a class="btn btn-primary"  asp-action="ChangePassword" asp-route-id="@Model.user.Id">@Localizer["ChangePassword"]</a>
            }
        </div>
        @if (User.IsInRole("admin"))
        {
            <div class="col-md-4">
                <a class="btn btn-success" asp-action="ChangeRole" asp-route-id="@Model.user.Id">
                    @if (roles.Result.Contains("moderator"))
                    {
                        @Localizer["RemoveRole"]
                    }
                    else
                    {
                        @Localizer["AddRole"]
                    }
                </a>
            </div>
        }
        <div class="col-md-4">
            @if (!Model.isMe && User.IsInRole("admin"))
            {
                <a class="btn btn-danger" asp-controller="Account" asp-action="DeleteUser" asp-route-id="@Model.user.Id">@Localizer["DeleteUser"]</a>
            }
        </div>
    </div>

    <div class="container m-md-7">
        <div class="row">
            @if (Model.user.Collections.Count > 0)
            {
                foreach (var coll in Model.user.Collections.OrderBy(l => l.Name))
                {
                    <div class="col-md-3">
                        <div class="card mb-3 box-shadow" style="height:320px;width:320px;">
                            <img class="card-img-top" src="@coll.Img" style="max-height:50%;max-width:50%" alt="Collection image">
                            <div class="card-body">
                                <p class="card-title">@coll.Name</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a type="button" class="btn btn-primary" asp-controller="Collection" asp-action="Details" asp-route-id="@coll.Id">View</a>
                                    <small class="text-muted">@coll.Theme</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>