@inject IViewLocalizer Localizer

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DynastyCollection</title>

    <link href="~/css/tagify.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="shortcut icon" href="/favicon.ico?v=2">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://leagueofcomicgeeks.com/assets/css/master.min.css?v=20201214">
    <link rel="stylesheet" type="text/css" href="https://leagueofcomicgeeks.com/assets/css/common.min.css?v=20210117">
    <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://leagueofcomicgeeks.com/assets/css/comic.min.css?v=20201214">
    <link rel="stylesheet" href="https://leagueofcomicgeeks.com/assets/css/summernote.min.css?v=20201018143" />
    <link rel="stylesheet" href="https://leagueofcomicgeeks.com/assets/css/jquery-ui.min.css?v=20201018" />
    <link rel="stylesheet" href="https://leagueofcomicgeeks.com/assets/css/dashboard.css?v=20201215" />

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Collection" asp-action="Index">@Localizer["Collections"]</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Comic" asp-action="Index">@Localizer["Comics"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Bike" asp-action="Index">@Localizer["Bikes"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Whisky" asp-action="Index">@Localizer["Whisky"]</a>
                        </li>

                        @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Users" asp-action="Index">@Localizer["Users"]</a>
                            </li>
                        }

                        <li class="col-md-8" id="textInputDiv">
                            <input class="form-control" name="input-custom-dropdown" type="text" id="fulltextSearch" placeholder="@Localizer["Search"]" />
                        </li>

                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item m-2">
                                <a class="nav-ref" asp-area="" asp-controller="Users" asp-action="Profile"><div>@Localizer["Hello"] @User.Identity.Name</div></a>
                            </li>
                            <li class="nav-item m-2">
                                <a class="nav-ref" asp-area="" asp-controller="Account" asp-action="Logout"><div>@Localizer["Logout"]</div></a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item m-2">
                                <a class="nav-ref text-dark" asp-area="" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>
                            </li>

                            <li class="nav-item m-2">
                                <a class="nav-ref text-dark" asp-area="" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-5 mb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-3">
        <div class="container">

            &copy; 2021 - Dynasty Comics

            @await Html.PartialAsync("_LanguageSelectorPartial")
        </div>
    </footer>



    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>