@model Comics.Domain.Collection
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>

    <h4>@Html.DisplayFor(model => model.Theme)</h4>
    <p style="text-align:right">Created by <a asp-controller="Account" asp-action="Profile" asp-route-id="@Model.UserId">@Model.User.UserName</a></p>


    <hr />
    <dl class="row">
        <dl class="col">
            <div class="col-sm-7">
                <a class="font-weight-bold">@Localizer["Description"]</a>
            </div>
            <div class="col-sm-7">
                @Markdown.ParseHtmlString(Model.Description)
            </div>
        </dl>
        <dd class="col-sm-5">
            <img class="img-thumbnail" src="@Model.Img" width="500" height="670" alt="Collection image">
        </dd>
    </dl>

    <h4>@Localizer["Items"]</h4>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Items)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="@item.Img" width="300" height="400" alt="Collection image">
                            <div class="card-body">
                                <p class="card-title">@item.Name</p>
                                <p class="card-text">@Markdown.ParseHtmlString(item.Tags)</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a type="button" class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">@Localizer["View"]</a>
                                        <button type="button" class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</button>
                                    </div>
                                    <small class="text-muted">@item.Price $</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["BackToList"]</a>
</div>
