@model Comics.Domain.Collection
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@Localizer["Edit"]</h1>
<h4>@Localizer["Collection"]</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <img src="@Model.Img" style="width:300px; height:400px;">
            </div>
            <div class="form-group col-md-5">
                <label class="control-label">@Localizer["Name"]</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Description" class="control-label">@Localizer["Description"]</label><br />
                <textarea class="custom custom-control" asp-for="Description" id="summernote" style="width:620px;height:300px"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label class="control-label">@Localizer["Theme"]</label>
                <select asp-for="Theme" class="form-control">
                    <option value="Comic">@Localizer["Comic"]</option>
                    <option value="Bike">@Localizer["Bike"]</option>
                    <option value="Whisky">@Localizer["Whisky"]</option>
                </select>
                <span asp-validation-for="Theme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="uploadedImage">@Localizer["Image"]</label><br />
                <div class="row" style="display: flex;">
                    <div class="col-md-12">
                        <input type="hidden" asp-for="Img" class="form-control" value="@Model.Img" />
                    </div>
                    <div class="col-lg-5">
                        <label class="input-file">
                            <input type="file" name="uploadedImage" accept=".jpg,.png,.jpeg" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["BackToList"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}