@model IEnumerable<BaseItem>
@inject ComicsDbContext _db; 

@{
    ViewData["Title"] = "Home Page";
}

@functions{
    public string GetCollectionTheme(int id)
    {
        return _db.Collections.FirstOrDefault(c => c.Id == id).Theme;
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Link
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-controller="@GetCollectionTheme(item.CollectionId)" asp-action="Details" asp-route-id="@item.Id">View</a>
                </td>

            </tr>
        }
    </tbody>
</table>
